.my-orders{
    margin: 50px 30px;
    background-image :url('../../assets/fleurs-sauvages.png');
    border:1px;
    border-radius: 5px;;
}
.my-orders h2{
    color: #b68f5f;
    text-align: center;
}
.my-orders .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.my-orders-order{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 10px 20px;
    color: beige;
    border: 1px solid #b68f5f;
    border-radius: 5px;
}
.my-orders-order img{
    width: 50px;
}
.my-orders-order p span{
    color: #b68f5f;
}
.my-orders-order p b{
    font-weight: 500;
    color: #b68f5f;
}
.my-orders button{
    border: none;
    padding: 12px 0px;
    border-radius: 4px;
    background-color: beige;
    cursor: pointer;
    color: #b68f5f;
}
@media (max-width:900px) {
    .my-orders-order{
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;
    }
    .my-orders-order button{
        font-size: 10px;
    }
    
}