.Login {
  display: grid;

  width: 100vw;
  height: 100vh;
  position:relative;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  stroke-width: 0%;
  border:2px #b68f5f;
  border-radius: 5px;
  box-shadow: #b68f5f;
}

.Login-Container{
     position: absolute;
     top: 70px;
    left: 400px;
    
    position: absolute;
     top: 70px;
    left: 400px;
    place-self: center;
    display :flex;
    flex-direction: column;
    gap:20px;
    background-color: beige;
    padding: 25px 30px;
    border-radius: 8px;
    color:#b68f5f;
    
    
}
.Login-Container button{
  background-color: #b68f5f;
  color: beige;
  border-radius: 4px;
  padding :10px;
  font-size: 15px;
}
.Login-inputs{
    display :flex;
    flex-direction: column;
    gap:20px;
    width:400px;
    color:#b68f5f;
    
    
    
}
.Login-inputs input {
    border-radius: 4px;
    border:1px #b68f5f;
    padding:10px;
    
    
    
}
.Login p span{
    color: black;
    font-weight: 500;
    cursor: pointer;
}