.header{
    
    
    margin:30px 30px ;
    
    padding-right:30px;
    padding-left: 30px ;
    
}
.header .img{
    
 width:90%;
 border-radius: 15px;
border: 1px solid #eee;
 margin:30px 30px ;
   
}
