.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right:80px;
    padding-left: 50px;
    margin-left:40px;
    margin-right: 70px;
    width: 90%;
    
    
}
.logo {
    width:200px;
    
}
.navbar-menu {
    display :flex;
    justify-content: space-between;
    list-style: none;
    gap:60px;
    color:#b68f5f;
    font-size:18px;
}
.navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #b68f5f;
}
.navbar-right {
 display: flex;
 gap:40px;
 align-items: center;  
 position: relative; 
}
.navbar-right button {
    background: transparent;
    font-size: 16px;
    color: #49557E;
    border: 1px solid #b68f5f;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar-profile{
    position: relative;

}
.navbar-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.navbar-profile-dropdown li:hover{
    color: #b68f5f;
}
.navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: beige;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid b68f5f;
    outline: 2px solid white;
    list-style: none;
}
.navbar-profile hr{
    background-color: gray;
    height: 1px;
    border: none;
}
.basket-link {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* pour que le dot soit au-dessus de l'image */
}
.basket-link .basket-img{
  color:#b68f5f;        /* icon color */
  width: 35px;
  height: 35px;
}

/* Dot au dessus à droite */
.basket-link .dot {
  position: absolute;
  top:-15px;    /* légèrement à droite */
  width: 20px;
  height: 20px;
  background-color: beige;
  color: #b68f5f;
  border-radius: 50%;
  text-align: center;
  line-height: 20px; /* pour centrer le chiffre verticalement */
  font-weight: bold;
  font-size: 12px;
}

@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        font-size: 15px;
        padding: 7px 20px;
    }
}

@media (max-width:750px) {
    .navbar-menu {
        display: none;
    }
}